<div class="SmallHeading">Your Profile</div>

<div class="Profile">
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p> <img src=<%=@user.image %> class="thumbnail"></p>
<p>List of Lost Items: </p>
<% @user.lost_items.each do |item| %>
<ul>
  <li>
    <%= link_to( item.name, lost_item_path(item) ) %>
  </li>
</ul>
<% end %>
<p>List of Found Items</p>
<% @user.found_items.each do |item| %>
<ul>
  <li>
    <%= link_to( item.name, found_item_path(item)) %>
  </li>
</ul>
<% end %>


<p><p><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap%20&markers=#{@current_user.latitude},#{@current_user.longitude}" %></p>

</div>
