<div class="SmallHeading">Edit <%= @lost_item.name %></div>

<%= form_for @lost_item do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_field :description, :required => true %>
</p>
<p>
  <%= f.label :image %>
  <%= f.url_field :image, :required => true %>
  <!-- above will eventually become cloudinary -->
</p>

<%= f.submit %>

<% end %>
