<h2>Lost Item</h2>

<p><%= @lost_item.name %></p>
<p>Description: <%= @lost_item.description %></p>
<p>Location Lost: <%= @lost_item.address %></p>
<p><img src=<%=@lost_item.image %> class= "thumbnail"></p>
<p>Who lost it? <%=link_to(@lost_item.user.name, user_path(@lost_item.user))%></p>
<p>Found at: <%= @lost_item.address %></p>
<p><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap%20&markers=#{@lost_item.latitude},#{@lost_item.longitude}" %></p>

<div class="controls">
<% if @current_user.present? %>
  <%= link_to "Edit work", edit_lost_item_path( @lost_item ) %>
  <%= link_to "Delete work", @lost_item, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
<% end %>

</div>
