<!DOCTYPE html>
<html>

<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<head>
  <title>LostCat</title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <ul>

    <%if @current_user.present? %>
    <%link_to "Edit Your Profile", edit_user_path(@current_user.id) %>

      <% if @current_user.admin? %>
      <li>
        <%= link_to "All Users", users_path %>
      </li>
      <% end %>

    <li>
      You are logged in as <%= @current_user.name%> and your ID# is <%= @current_user.id %>
    </li>
<nav class= "TopNav">
    <li class= "TopNav"><%= link_to "Home Page", root_path %></li>
    <li class= "TopNav">
      <%= link_to "View Your Profile", user_path(@current_user.id)%>
    </li>
    <li class= "TopNav">
      <%=link_to "Edit Your Profile", edit_user_path(@current_user.id) %>
    </li>
    <li class= "TopNav">
      <%=link_to "Items Lost", lost_items_path %>
    </li>
    <li class= "TopNav">
      <%= link_to "Items Found", found_items_path %>
    </li>
    <li class= "TopNav">
      <%= link_to "Log out", logout_path, :method => :delete %>
    </li>
  
    <% else %>
  <li class= "TopNav">
    <%= link_to "Sign Up", new_user_path %>
  </li>
  <li class= "TopNav">
    <%= link_to "Log In", login_path %>
  </li>
    <% end %>
  </ul>
</nav>


<!-- <% if flash[:error].present? %>
    <h2 class="error">
      <%= flash[:error] %>
    </h2>
  <% end %>

  <% if flash[:success].present? %>
    <h2 class="success">
      <%= flash[:success] %>
    </h2>
  <% end %> -->

<%= yield %>

</body>
</html>
